.single__container{
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 100vh;
}

.event .single__container .h2{
    text-align: center;
}
.week__event{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    align-items: center;
    margin-top: 50px;

}
.center h1{
    text-align: center;
    margin-bottom: 200px;
    color: white;
}
.header2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    

}
.header2 p{
    text-align: center;
    font-size: larger;
   
}

.week__container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.week__box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;background-image: url("https://images.subsplash.com/image.jpg?id=dbaf8bdc-7ba8-41aa-b34c-7eb6a7c789f2&w=400&h=225");
    
}
@media only screen and (max-width: 1200px) {

    .single__container{
        display: none;
    }
    .week__container{
        display: flex;
        flex-direction: column;
    }
    .header2{
        display: block;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       padding: 0px;
        margin-top: 40px;
        
    
    }
    .header2 h2{
        text-align: center;
    }
    .header p{
        
       margin-top: 50px;
    }
    }

