.banner{
    background-image: url("https://images.subsplash.com/image.jpg?id=dbaf8bdc-7ba8-41aa-b34c-7eb6a7c789f2&w=400&h=225");
    width: 100%;
    height: 100vh;
    
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.banner__text{
   width: 50%;
   max-width: 70%;
   padding: 10px;
   color: white;
   font-size: x-large;
}
.home{
    margin-top: 0;
}

.container__main{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}
.boxes{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    width: 100%;
    margin-top: 50px;

}
.box{
    width: 400px;
    height: 200px;
    border: 1px solid black;
    background-image: url("https://images.subsplash.com/image.jpg?id=dbaf8bdc-7ba8-41aa-b34c-7eb6a7c789f2&w=400&h=225");
   background-position: center center;
   align-items: center;
   display: flex;
   justify-content: center;
}
.container__items{
    display: flex;
    flex-direction: column;
    align-items: center;
  padding: 100px;
    background-color: aliceblue;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color:white; 
    color: black; 
    border: 2px solid #4CAF50;
  }

  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }