.banner__main{
    background-image: url("https://img.freepik.com/free-vector/flat-design-church-building-illustration_23-2149441679.jpg?w=2000");
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.banner__icon{

   
 
   color: white;
   font-size: x-large;
}